<!-- About modal -->
<div bsModal #aboutModal="bs-modal" class="modal top-modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" (click)="aboutModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 class="modal-title">{{app.name}} - {{app.version}}</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                ea commodo consequat.
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="al-main">
    <div class="al-content">
        <router-outlet></router-outlet>
    </div>
</div>
<!--footer class="al-footer clearfix">
    <div class="al-footer-right">&copy; FRieck 2017</div>
    <div class="al-footer-main clearfix">
        <div class="al-copy"></div>
    </div>
</footer-->