@import "../theme/sass/conf/conf";
.top-modal {
    //padding-top: 300px;
    .modal-content {
        color: $dropdown-text;
        .modal-header {
            border: none;
            box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.7);
        }
        .modal-footer {
            border: none;
        }
        .close {
            outline: none;
        }
    }
    .modal-dialog {
        margin-top: -1px;
    }
}

.modal-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.modal-buttons .btn {
    margin-right: 20px;
}