<div baCardActionsBlur class="animated fadeIn card {{cardType}} {{baCardClass || ''}}" zoom-in>
    <div *ngIf="title" class="card-header clearfix">
        <div style="float: left">
            <h3 class="card-title">{{title}}</h3>
        </div>
        <div style="float: right; margin-top: -7px;">
            <ng-content select="[actions]"></ng-content>
        </div>
    </div>
    <div class="card-body">
        <ng-content></ng-content>
    </div>
</div>