<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
    <ba-card class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" title="Pagador">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input [formControl]="form.controls['cpf1']" [textMask]="{mask: cpfMask} " type="text" class="form-control" id="cpf" placeholder="XXX.XXX.XXX-XX">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input [formControl]="form.controls['nome1']" type="text" class="form-control" id="nome" placeholder="Nome">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="rg">RG</label>
                    <input [formControl]="form.controls['rg1']" type="text" class="form-control" id="rg" placeholder="RG">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="datanasc">Data Nascimento</label>
                    <input [formControl]="form.controls['datanasc1']" [textMask]="{mask: dataMask} " type="text" class="form-control" id="datanasc" placeholder="__/__/____">
                </div>
            </div>
        </div>
    </ba-card>
    <ba-card-actions class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" title="Paciente">
        <div actions>
            <button type="button" class="btn btn-primary btn-with-icon" (click)="copiaPagador()"><i class="ion-person-stalker"></i>Mesmo que Pagador</button>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input [formControl]="form.controls['cpf2']" [textMask]="{mask: cpfMask} " type="text" class="form-control" id="cpf" placeholder="XXX.XXX.XXX-XX">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input [formControl]="form.controls['nome2']" type="text" class="form-control" id="nome" placeholder="Nome">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="datanasc">Data Nascimento</label>
                    <input [formControl]="form.controls['datanasc2']" [textMask]="{mask: dataMask} " type="text" class="form-control" id="datanasc" placeholder="__/__/____">
                </div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </ba-card-actions>
    <ba-card class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" title="Parcelas">
        <div *ngFor="let valores of form.controls['valores'].controls; let i=index" class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon addon-left">Valor R$</span>
                    <input [formControl]="form.controls['valores'].controls[i].controls.valor" [textMask]="{mask: moneyMask} " type="text" id="valor" class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <input [formControl]="form.controls['valores'].controls[i].controls.vencimento" [textMask]="{mask: dataMask} " type="text" class="form-control" placeholder="__/__/____">
            </div>
            <div class="col-sm-3">
                <button *ngIf="i === 0" type="button" class="btn btn-success" (click)="addParcela()" tooltip="Adicionar Parcela"><i class="ion-plus-circled"></i></button>
                <button *ngIf="i >= 1" type="button" class="btn btn-danger btn-icon" (click)="removeParcela(i)" tooltip="Remover Parcela"><i class="ion-close-circled"></i></button>
            </div>
        </div>
    </ba-card>
    <br clear="all" />
    <button type="submit" class="btn btn-primary btn-raised">Gerar Recibo</button>
    <button type="button" class="btn btn-danger btn-raised" (click)="cancelar()">Cancelar</button>
</form>