<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <ba-card title="Inline Form" baCardClass="with-scroll">
                <inline-form></inline-form>
            </ba-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div>
                <ba-card title="Basic Form" baCardClass="with-scroll">
                    <basic-form></basic-form>
                </ba-card>
            </div>

            <div>
                <ba-card title="Horizontal Form" baCardClass="with-scroll">
                    <horizontal-form></horizontal-form>
                </ba-card>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <ba-card title="Form Without Labels" baCardClass="with-scroll">
                    <without-labels-form></without-labels-form>
                </ba-card>
            </div>
            <div>
                <ba-card title="Block Form" baCardClass="with-scroll">
                    <block-form></block-form>
                </ba-card>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ba-card title="Picture Uploader" baCardClass="with-scroll">
                <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploadInput]="uploaderOptions"></ba-picture-uploader>
            </ba-card>
        </div>
    </div>
</div>